<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coder Pal</title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
        <img class="image" src="/images/coderpal.png" alt="">
        <h1>Coder Pal</h1>
    </div>
    

  <%= yield %>

</body>
</html>
