<form action="/questions/<%= question['id'] %>/answers/<%= answer['id'] %>" method="POST">
    <input type="hidden" name="_method" value="PUT" >

    <label for="body">
        Body:
    </label>
    <input name="body" value="<%= answer['body'] %>" /><br>

    <input type="submit" value= "update" />
</form>