<form action="/questions/<%= question['id'] %>/answers" method="POST">
    <label for="title">
        Title:
    </label>
     <p><%= question["title"] %></p>

    <label for="body">
        Body:
    </label>
    <input name="body" />
    

    <input type="submit" value="Add an answer" />
</form>