<form action="/questions/:question_id/answers" method="POST">
    <label for="question_id">
        Question_id:
    </label>
    <input name="question_id"/>

    <label for="body">
        Body:
    </label>
    <input name="body" />

    <input type="submit" value="Ask a question" />
</form>