<h2><%= error_message %></h2>

<div class="signup-details">
    <form class="signup-content" action="/sessions" method="POST">
        <div class="container">
            <h2>Login</h2>
            <p>Please Login with your details</p>
            <hr>
            <label for="name">
                Name:
            </label>
            <input type="text" placeholder="Enter name" name="name" required>
        
            <br><label for="email">
                Email:
            </label>
            <input type="text" placeholder="Enter Email" name="email" required>
        
            <br><label for="password">
                Password:
            </label>
            <input type="password" placeholder="Enter Password" name="password" required>
        
            <div class="clearfix">
                <button class="signupbtn">Login</button>
                <button type="reset" class="signupbtn">Reset</button>
                <button type="cancel" onclick="javascript:window.location='/questions';">Cancel</button>
            </div>
        </div>
    </form>
</div>