<div class="sidebar">
    <nav>
        <% if is_logged_in? %>
        <h4>Welcome, <%= current_user()['name'] %>!</h4>
        <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Logout"/>
        </form>
        <a href="/home">Home</a>
        <a href="/About-us">About Us</a>
        <a href="/Questions">Questions</a>
    <% else %>
        <div class="signup"><a href="/sign_up">Sign Up</a></div>
        <a href="/login">Login</a>
        <a href="/home">Home</a>
        <a href="/About-us">About Us</a>
        <a href="/Questions">Questions</a>
    <% end %>  
    </nav>
</div>

<div class="about-text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, labore? Assumenda repellat vitae, ullam nobis autem quis voluptatem quod dicta, hic sunt nemo placeat doloremque ipsa? Facilis minima earum consequuntur!</p>
</div>