<div class="sidebar">
    <nav>
        <% if is_logged_in? %>
        <h4>Welcome, <%= current_user()['name'] %>!</h4>
        <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Logout"/>
        </form>
        <a href="/home">Home</a>
        <a href="/About-us">About Us</a>
        <a href="/Questions">Questions</a>
    <% else %>
        <div class="signup"><a href="/sign_up">Sign Up</a></div>
        <a href="/login">Login</a>
        <a href="/home">Home</a>
        <a href="/About-us">About Us</a>
        <a href="/Questions">Questions</a>
    <% end %>  
    </nav>
</div>

<div class="question-edit-text">
    <form action="/questions/<%= question["id"] %>" method="POST">
        <input type="hidden" name="_method" value="PUT" >
        <label for="title">
            Title:
        </label>
        <input name="title" value="<%= question["title"] %>" /><br>
    
        <br><label for="body">
            Body:
        </label>
        <textarea name="" value="<%= question['body'] %>" id="" cols="30" rows="10"></textarea><br>

        <br><input type="submit" value= "update" />
    </form>
</div>



