<div class="sidebar">
    <nav>
        <div class="signup"><a href="/sign_up">Sign Up</a></div>
        <a href="/login">Login</a>
        <a href="/home">Home</a>
        <a href="/About-us">About Us</a>
        <a href="/Questions">Questions</a>
    </nav>
</div>

<div class="body-text">
    <form action="/questions/<%= question["id"] %>" method="POST">
        <input type="hidden" name="_method" value="PUT" >
        <label for="title">
            Title:
        </label>
        <input name="title" value="<%= question["title"] %>" /><br>
    
        <label for="body">
            Body:
        </label>
        <input name="body" value="<%= question["body"] %>" /><br>
    
        <input type="submit" value= "update" />
    </form>
</div>



