<form action="/questions" method="POST">
    <label for="title">
        Title:
    </label>
    <input name="title"/>

    <label for="body">
        Body:
    </label>
    <input name="body" />

    <input type="submit" value="Ask a question" />
</form>