<div class="sidebar">
    <nav>
        <div class="signup"><a href="/sign_up">Sign Up</a></div>
        <a href="/login">Login</a>
        <a href="/home">Home</a>
        <a href="/About-us">About Us</a>
        <a href="/Questions">Questions</a>
    </nav>
</div>

<div class="questions-new-text">
    <form action="/questions" method="POST">
        <label for="title">
            Title:
        </label>
        <input name="title"/><br>
    
        <br><label for="body">
            Body:
        </label>
        <input name="body" /><br>
    
        <br><input type="submit" value="Ask a question" />
    </form>
</div>



